@model List<FacultyServiceModel>

@{
    ViewBag.Title = "Choose Faculty";
}
<h2 class="text-center mb-5">Choose Faculty</h2>

<div class="mb-4"></div>
<div class="container">
    <div class="row text-center">
        <table style="width:700px;" class=" ml-auto mr-auto text-center table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <h5 class="text-center font-italic">Faculties</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var faculty in Model)
                    {
                        if (faculty.TypeCreating == "student")
                        {
                            <td>
                                <a asp-controller="Students" asp-action="Create" asp-route-facultyId="@faculty.Id">@faculty.Name</a>
                            </td>
                        }
                        else if (faculty.TypeCreating == "teacher")
                        {
                            <td>
                                <a asp-controller="Teachers" asp-action="Create" asp-route-facultyId="@faculty.Id">@faculty.Name</a>
                            </td>
                        }

                    }
                </tr>
            </tbody>
        </table>

    </div>
</div>

