@model Dictionary<string, List<PersonListingServiceModel>>

@{
    ViewBag.Title = "Statistics";
}

<h4 class="text-center font-italic mt-5 mb-4">List of teachers and students</h4>

<div class="container">
    <div class="row text-center">
        <table class=" table table-bordered">
            <component style="font-size:20px" class="container border">Teachers</component>
            <thead>
                <tr>
                    <th width=500px scope="col">Teacher Name</th>
                    <th width=500px scope="col">Courses Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kvp in Model)
                {
                    if (kvp.Key == "teachers")
                    {
                        foreach (var teacher in kvp.Value)
                        {
                            <tr>
                                <td>@teacher.FullName</td>
                                <td>@teacher.GetStatistics()</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <table class=" table table-bordered">
            <component style="font-size:20px" class="container border">Students</component>

            <thead>
                <tr>
                    <th width=500px scope="col">Student Name</th>
                    <th width=500px scope="col">Course Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kvp in Model)
                {
                    if (kvp.Key == "students")
                    {
                        foreach (var student in kvp.Value)
                        {
                            <tr>
                                <td>@student.FullName</td>
                                <td>@student.GetStatistics()</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<form method="get">
    <div class="container text-center mt-3">
        <button asp-controller="Statistics" asp-action="StudentsWithCourses" type="submit" class="btn btn-outline-info">Show students with active courses</button>
        <button type="submit" class="btn btn-outline-info">Show students with total credits</button>
        <button type="submit" class="btn btn-outline-info">Show teachers with courses and students count</button>
        <button type="submit" class="btn btn-outline-info">Top three courses</button>
    </div>
    <div class="container text-center mt-2">
        <button type="submit" class="btn btn-outline-info">Top three teachers</button>
    </div>
</form>

