@{
    ViewBag.Title = "Home Page";
}

<div class="container mt-5">
    <h2 class="display-5">Welcome to the</h2>
    <h2 class="display-5">best university for </h2>
    <h2 class="display-5">computer science!</h2>
</div>


<div class="container mb-4 ml-5">
    <style>
        body {
            background-image: url("images/background.JPG");
        }
    </style>

</div>
