@{
    ViewBag.Title = "Home Page";
}

<div class="text-right container mb-5">
    <div class="row text-right">
        <h2 class="display-5">Welcome</h2>
    </div>
</div>

<div class="container mb-4">
    <style>
        body {
            background-image: url("Images/Background.JPG");
        }
    </style>

</div>
