@model StudentFormModel

@{
    ViewBag.Title = "Register Student";
}

<div class="container">
    <div class="row">
        <div class=" col-md-6 col-sm-12 offset-md-2">
            <form method="post">
                <h2 class="text-center p-3">Register student</h2>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseId">Courses</label>
                    <select asp-for="CourseId" class="form-control" multiple>
                        @foreach (var course in Model.Courses)
                        {
                            <option value="@course.Id">@course.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CourseId" class="small text-danger mt-2"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>